In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json
import csv
from collections import OrderedDict
from update_dataframe import *

In [2]:
# #creating a new dataframe

# columns = [['Date','Total_Sent','Sent_On_Date','Proceed_In_24_Hr','Total_Positive','New_Positive']]
# test_report = pd.DataFrame(columns=columns)
# test_report.to_csv('data/Analysis_Test_Results.csv')

In [2]:
test_report = pd.read_csv('data/Analysis_Test_Results.csv')
test_report

,Unnamed: 0,Date,Total_Sent,Sent_On_Date,Proceed_In_24_Hr,Total_Positive,New_Positive
0,0,04/08/2020,858960,24745,20087,27956,1083
1,1,05/08/2020,884056,25096,25096,29151,1195
2,2,06/08/2020,908355,24299,25205,30449,1298
3,3,07/08/2020,936651,28296,27608,31700,1251
4,4,08/08/2020,963632,26981,27714,33120,1420
5,5,09/08/2020,984208,20576,22745,34331,1211
6,6,10/08/2020,1000988,16780,20583,35515,1184
7,7,11/08/2020,1027433,26445,21625,36932,1417
8,8,12/08/2020,1056360,28927,28644,38144,1212
9,9,13/08/2020,1087722,31362,31270,39708,1564
10,10,14/08/2020,1120935,33213,31738,41277,1569
11,11,15/08/2020,1154365,33430,32108,42885,1608
12,12,16/08/2020,1182727,28362,30123,44415,1530
13,13,17/08/2020,1205759,23032,26150,46140,1725
14,14,18/08/2020,1240076,34317,29265,47898,1758
15,15,19/08/2020,1276358,36282,36291,50231,2333
16,16,20/08/2020,1312992,36634,37010,52199,1968
17,17,21/08/2020,1349071,36079,35825,54182,1983
18,18,22/08/2020,1386775,37704,37027,56354,2172
19,19,23/08/2020,142258,37583,36353,58262,1908
20,20,24/08/2020,1446380,23822,26186,59504,1242
21,21,25/08/2020,1484907,38527,34344,61879,2375
22,22,26/08/2020,1525792,40885,40352,64355,2476

In [3]:
file_path = 'data/Analysis_Test_Results.csv'
#update_file(test_report,file_path)

In [4]:
test_report = pd.read_csv(file_path)
test_report

,Unnamed: 0,Date,Total_Sent,Sent_On_Date,Proceed_In_24_Hr,Total_Positive,New_Positive
0,0,04/08/2020,858960,24745,20087,27956,1083
1,1,05/08/2020,884056,25096,25096,29151,1195
2,2,06/08/2020,908355,24299,25205,30449,1298
3,3,07/08/2020,936651,28296,27608,31700,1251
4,4,08/08/2020,963632,26981,27714,33120,1420
5,5,09/08/2020,984208,20576,22745,34331,1211
6,6,10/08/2020,1000988,16780,20583,35515,1184
7,7,11/08/2020,1027433,26445,21625,36932,1417
8,8,12/08/2020,1056360,28927,28644,38144,1212
9,9,13/08/2020,1087722,31362,31270,39708,1564
10,10,14/08/2020,1120935,33213,31738,41277,1569
11,11,15/08/2020,1154365,33430,32108,42885,1608
12,12,16/08/2020,1182727,28362,30123,44415,1530
13,13,17/08/2020,1205759,23032,26150,46140,1725
14,14,18/08/2020,1240076,34317,29265,47898,1758
15,15,19/08/2020,1276358,36282,36291,50231,2333
16,16,20/08/2020,1312992,36634,37010,52199,1968
17,17,21/08/2020,1349071,36079,35825,54182,1983
18,18,22/08/2020,1386775,37704,37027,56354,2172
19,19,23/08/2020,142258,37583,36353,58262,1908
20,20,24/08/2020,1446380,23822,26186,59504,1242
21,21,25/08/2020,1484907,38527,34344,61879,2375
22,22,26/08/2020,1525792,40885,40352,64355,2476

In [5]:
#check if there is unwanterd columns ?
print(test_report.columns)
inp = input("is there any unwanted coumns ? (y/n)")
if inp == 'y':
    column_name =  input("Enter column name :")
    del test_report[column_name]
    test_report.to_csv(file_path, index = True)

Index(['Unnamed: 0', 'Date', 'Total_Sent', 'Sent_On_Date', 'Proceed_In_24_Hr',
       'Total_Positive', 'New_Positive'],
      dtype='object')
is there any unwanted coumns ? (y/n)y
Enter column name :Unnamed: 0

In [7]:
update_file(test_report,file_path)

Do you have to update the data  : (y/n)y
<class 'str'>
hi
 Options !!
	Add Column : c
	Add row values : r
Enter your optionr
-------------------
Adding row values
-------------------
Enter Date 27/08/2020
Enter Total_Sent 1525792
Enter Sent_On_Date 0
Enter Proceed_In_24_Hr 37873
Enter Total_Positive 66761
Enter New_Positive 2406
          Date  Total_Sent  Sent_On_Date  Proceed_In_24_Hr  Total_Positive  \
0   04/08/2020      858960         24745             20087           27956
1   05/08/2020      884056         25096             25096           29151
2   06/08/2020      908355         24299             25205           30449
3   07/08/2020      936651         28296             27608           31700
4   08/08/2020      963632         26981             27714           33120
5   09/08/2020      984208         20576             22745           34331
6   10/08/2020     1000988         16780             20583           35515
7   11/08/2020     1027433         26445             21625           36932
8   12/08/2020     1056360         28927             28644           38144
9   13/08/2020     1087722         31362             31270           39708
10  14/08/2020     1120935         33213             31738           41277
11  15/08/2020     1154365         33430             32108           42885
12  16/08/2020     1182727         28362             30123           44415
13  17/08/2020     1205759         23032             26150           46140
14  18/08/2020     1240076         34317             29265           47898
15  19/08/2020     1276358         36282             36291           50231
16  20/08/2020     1312992         36634             37010           52199
17  21/08/2020     1349071         36079             35825           54182
18  22/08/2020     1386775         37704             37027           56354
19  23/08/2020      142258         37583             36353           58262
20  24/08/2020     1446380         23822             26186           59504
21  25/08/2020     1484907         38527             34344           61879
22  26/08/2020     1525792         40885             40352           64355
23  27/08/2020     1525792             0             37873           66761

    New_Positive
0           1083
1           1195
2           1298
3           1251
4           1420
5           1211
6           1184
7           1417
8           1212
9           1564
10          1569
11          1608
12          1530
13          1725
14          1758
15          2333
16          1968
17          1983
18          2172
19          1908
20          1242
21          2375
22          2476
23          2406
Do you want to save these changes (y/n): y
          Date  Total_Sent  Sent_On_Date  Proceed_In_24_Hr  Total_Positive  \
0   04/08/2020      858960         24745             20087           27956
1   05/08/2020      884056         25096             25096           29151
2   06/08/2020      908355         24299             25205           30449
3   07/08/2020      936651         28296             27608           31700
4   08/08/2020      963632         26981             27714           33120
5   09/08/2020      984208         20576             22745           34331
6   10/08/2020     1000988         16780             20583           35515
7   11/08/2020     1027433         26445             21625           36932
8   12/08/2020     1056360         28927             28644           38144
9   13/08/2020     1087722         31362             31270           39708
10  14/08/2020     1120935         33213             31738           41277
11  15/08/2020     1154365         33430             32108           42885
12  16/08/2020     1182727         28362             30123           44415
13  17/08/2020     1205759         23032             26150           46140
14  18/08/2020     1240076         34317             29265           47898
15  19/08/2020     1276358         36282             36291           50231
16  20/08/2020     1312992         36634             37010           52199
17  21/08/2020     1349071         36079             35825           54182
18  22/08/2020     1386775         37704             37027           56354
19  23/08/2020      142258         37583             36353           58262
20  24/08/2020     1446380         23822             26186           59504
21  25/08/2020     1484907         38527             34344           61879
22  26/08/2020     1525792         40885             40352           64355
23  27/08/2020     1525792             0             37873           66761

    New_Positive
0           1083
1           1195
2           1298
3           1251
4           1420
5           1211
6           1184
7           1417
8           1212
9           1564
10          1569
11          1608
12          1530
13          1725
14          1758
15          2333
16          1968
17          1983
18          2172
19          1908
20          1242
21          2375
22          2476
23          2406
do you want to add more : (y/n)n
Final :
          Date  Total_Sent  Sent_On_Date  Proceed_In_24_Hr  Total_Positive  \
0   04/08/2020      858960         24745             20087           27956
1   05/08/2020      884056         25096             25096           29151
2   06/08/2020      908355         24299             25205           30449
3   07/08/2020      936651         28296             27608           31700
4   08/08/2020      963632         26981             27714           33120
5   09/08/2020      984208         20576             22745           34331
6   10/08/2020     1000988         16780             20583           35515
7   11/08/2020     1027433         26445             21625           36932
8   12/08/2020     1056360         28927             28644           38144
9   13/08/2020     1087722         31362             31270           39708
10  14/08/2020     1120935         33213             31738           41277
11  15/08/2020     1154365         33430             32108           42885
12  16/08/2020     1182727         28362             30123           44415
13  17/08/2020     1205759         23032             26150           46140
14  18/08/2020     1240076         34317             29265           47898
15  19/08/2020     1276358         36282             36291           50231
16  20/08/2020     1312992         36634             37010           52199
17  21/08/2020     1349071         36079             35825           54182
18  22/08/2020     1386775         37704             37027           56354
19  23/08/2020      142258         37583             36353           58262
20  24/08/2020     1446380         23822             26186           59504
21  25/08/2020     1484907         38527             34344           61879
22  26/08/2020     1525792         40885             40352           64355
23  27/08/2020     1525792             0             37873           66761

    New_Positive
0           1083
1           1195
2           1298
3           1251
4           1420
5           1211
6           1184
7           1417
8           1212
9           1564
10          1569
11          1608
12          1530
13          1725
14          1758
15          2333
16          1968
17          1983
18          2172
19          1908
20          1242
21          2375
22          2476
23          2406
Do you want to overwrite csv file : (y/n) y
Successully saved data

## Trying to train the data

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [32]:
features = test_report[['Total_Sent', 'Sent_On_Date', 'Proceed_In_24_Hr', 'Total_Positive']]
label = test_report[['New_Positive']]

In [33]:
features

    Total_Sent  Sent_On_Date  Proceed_In_24_Hr  Total_Positive
0       858960         24745             20087           27956
1       884056         25096             25096           29151
2       908355         24299             25205           30449
3       936651         28296             27608           31700
4       963632         26981             27714           33120
5       984208         20576             22745           34331
6      1000988         16780             20583           35515
7      1027433         26445             21625           36932
8      1056360         28927             28644           38144
9      1087722         31362             31270           39708
10     1120935         33213             31738           41277
11     1154365         33430             32108           42885
12     1182727         28362             30123           44415
13     1205759         23032             26150           46140
14     1240076         34317             29265           47898
15     1276358         36282             36291           50231
16     1312992         36634             37010           52199
17     1349071         36079             35825           54182
18     1386775         37704             37027           56354
19      142258         37583             36353           58262
20     1446380         23822             26186           59504
21     1484907         38527             34344           61879

In [34]:
label

    New_Positive
0           1083
1           1195
2           1298
3           1251
4           1420
5           1211
6           1184
7           1417
8           1212
9           1564
10          1569
11          1608
12          1530
13          1725
14          1758
15          2333
16          1968
17          1983
18          2172
19          1908
20          1242
21          2375

In [59]:
# Create a correlation matrix
corr_metrics = features.corr()
corr_metrics.style.background_gradient()

In [60]:
features = test_report[['Sent_On_Date', 'Proceed_In_24_Hr', 'Total_Positive']]
label = test_report[['New_Positive']]