In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json
import csv
from collections import OrderedDict
from update_dataframe import *
from matplotlib import cbook

In [2]:
# #creating a new dataframe

# columns = [['Date','Total_Sent','Sent_On_Date','Proceed_In_24_Hr','Total_Positive','New_Positive']]
# test_report = pd.DataFrame(columns=columns)
# test_report.to_csv('data/Analysis_Test_Results.csv')

In [8]:
test_report = pd.read_csv('data/Analysis_Test_Results.csv')
test_report

,Unnamed: 0,Date,Total_Sent,Sent_On_Date,Proceed_In_24_Hr,Total_Positive,New_Positive
0,0,04/08/2020,858960,24745,20087,27956,1083
1,1,05/08/2020,884056,25096,25096,29151,1195
2,2,06/08/2020,908355,24299,25205,30449,1298
3,3,07/08/2020,936651,28296,27608,31700,1251
4,4,08/08/2020,963632,26981,27714,33120,1420
5,5,09/08/2020,984208,20576,22745,34331,1211
6,6,10/08/2020,1000988,16780,20583,35515,1184
7,7,11/08/2020,1027433,26445,21625,36932,1417
8,8,12/08/2020,1056360,28927,28644,38144,1212
9,9,13/08/2020,1087722,31362,31270,39708,1564
10,10,14/08/2020,1120935,33213,31738,41277,1569
11,11,15/08/2020,1154365,33430,32108,42885,1608
12,12,16/08/2020,1182727,28362,30123,44415,1530
13,13,17/08/2020,1205759,23032,26150,46140,1725
14,14,18/08/2020,1240076,34317,29265,47898,1758
15,15,19/08/2020,1276358,36282,36291,50231,2333
16,16,20/08/2020,1312992,36634,37010,52199,1968
17,17,21/08/2020,1349071,36079,35825,54182,1983
18,18,22/08/2020,1386775,37704,37027,56354,2172
19,19,23/08/2020,142258,37583,36353,58262,1908
20,20,24/08/2020,1446380,23822,26186,59504,1242
21,21,25/08/2020,1484907,38527,34344,61879,2375
22,22,26/08/2020,1525792,40885,40352,64355,2476
23,23,27/08/2020,1525792,0,37873,66761,2406
24,24,28/08/2020,1608013,82221,41860,69304,2543
25,25,29/08/2020,1643633,35620,34988,71701,2397

In [4]:
file_path = 'data/Analysis_Test_Results.csv'
#update_file(test_report,file_path)

In [9]:
#check if there is unwanterd columns ?
print(test_report.columns)
inp = input("is there any unwanted coumns ? (y/n)")
if inp == 'y':
    column_name =  input("Enter column name :")
    del test_report[column_name]
    test_report.to_csv(file_path, index = True)

Index(['Unnamed: 0', 'Date', 'Total_Sent', 'Sent_On_Date', 'Proceed_In_24_Hr',
       'Total_Positive', 'New_Positive'],
      dtype='object')
is there any unwanted coumns ? (y/n)y
Enter column name :Unnamed: 0

In [6]:
update_file(test_report,file_path)

Do you have to update the data  : (y/n)y
<class 'str'>
hi
 Options !!
	Add Column : c
	Add row values : r
Enter your optionr
-------------------
Adding row values
-------------------
Enter Date 29/08/2020
Enter Total_Sent 1643633
Enter Sent_On_Date 35620
Enter Proceed_In_24_Hr 34988
Enter Total_Positive 71701
Enter New_Positive 2397
          Date  Total_Sent  Sent_On_Date  Proceed_In_24_Hr  Total_Positive  \
0   04/08/2020      858960         24745             20087           27956
1   05/08/2020      884056         25096             25096           29151
2   06/08/2020      908355         24299             25205           30449
3   07/08/2020      936651         28296             27608           31700
4   08/08/2020      963632         26981             27714           33120
5   09/08/2020      984208         20576             22745           34331
6   10/08/2020     1000988         16780             20583           35515
7   11/08/2020     1027433         26445             21625           36932
8   12/08/2020     1056360         28927             28644           38144
9   13/08/2020     1087722         31362             31270           39708
10  14/08/2020     1120935         33213             31738           41277
11  15/08/2020     1154365         33430             32108           42885
12  16/08/2020     1182727         28362             30123           44415
13  17/08/2020     1205759         23032             26150           46140
14  18/08/2020     1240076         34317             29265           47898
15  19/08/2020     1276358         36282             36291           50231
16  20/08/2020     1312992         36634             37010           52199
17  21/08/2020     1349071         36079             35825           54182
18  22/08/2020     1386775         37704             37027           56354
19  23/08/2020      142258         37583             36353           58262
20  24/08/2020     1446380         23822             26186           59504
21  25/08/2020     1484907         38527             34344           61879
22  26/08/2020     1525792         40885             40352           64355
23  27/08/2020     1525792             0             37873           66761
24  28/08/2020     1608013         82221             41860           69304
25  29/08/2020     1643633         35620             34988           71701

    New_Positive
0           1083
1           1195
2           1298
3           1251
4           1420
5           1211
6           1184
7           1417
8           1212
9           1564
10          1569
11          1608
12          1530
13          1725
14          1758
15          2333
16          1968
17          1983
18          2172
19          1908
20          1242
21          2375
22          2476
23          2406
24          2543
25          2397
Do you want to save these changes (y/n): y
          Date  Total_Sent  Sent_On_Date  Proceed_In_24_Hr  Total_Positive  \
0   04/08/2020      858960         24745             20087           27956
1   05/08/2020      884056         25096             25096           29151
2   06/08/2020      908355         24299             25205           30449
3   07/08/2020      936651         28296             27608           31700
4   08/08/2020      963632         26981             27714           33120
5   09/08/2020      984208         20576             22745           34331
6   10/08/2020     1000988         16780             20583           35515
7   11/08/2020     1027433         26445             21625           36932
8   12/08/2020     1056360         28927             28644           38144
9   13/08/2020     1087722         31362             31270           39708
10  14/08/2020     1120935         33213             31738           41277
11  15/08/2020     1154365         33430             32108           42885
12  16/08/2020     1182727         28362             30123           44415
13  17/08/2020     1205759         23032             26150           46140
14  18/08/2020     1240076         34317             29265           47898
15  19/08/2020     1276358         36282             36291           50231
16  20/08/2020     1312992         36634             37010           52199
17  21/08/2020     1349071         36079             35825           54182
18  22/08/2020     1386775         37704             37027           56354
19  23/08/2020      142258         37583             36353           58262
20  24/08/2020     1446380         23822             26186           59504
21  25/08/2020     1484907         38527             34344           61879
22  26/08/2020     1525792         40885             40352           64355
23  27/08/2020     1525792             0             37873           66761
24  28/08/2020     1608013         82221             41860           69304
25  29/08/2020     1643633         35620             34988           71701

    New_Positive
0           1083
1           1195
2           1298
3           1251
4           1420
5           1211
6           1184
7           1417
8           1212
9           1564
10          1569
11          1608
12          1530
13          1725
14          1758
15          2333
16          1968
17          1983
18          2172
19          1908
20          1242
21          2375
22          2476
23          2406
24          2543
25          2397
do you want to add more : (y/n)n
Final :
          Date  Total_Sent  Sent_On_Date  Proceed_In_24_Hr  Total_Positive  \
0   04/08/2020      858960         24745             20087           27956
1   05/08/2020      884056         25096             25096           29151
2   06/08/2020      908355         24299             25205           30449
3   07/08/2020      936651         28296             27608           31700
4   08/08/2020      963632         26981             27714           33120
5   09/08/2020      984208         20576             22745           34331
6   10/08/2020     1000988         16780             20583           35515
7   11/08/2020     1027433         26445             21625           36932
8   12/08/2020     1056360         28927             28644           38144
9   13/08/2020     1087722         31362             31270           39708
10  14/08/2020     1120935         33213             31738           41277
11  15/08/2020     1154365         33430             32108           42885
12  16/08/2020     1182727         28362             30123           44415
13  17/08/2020     1205759         23032             26150           46140
14  18/08/2020     1240076         34317             29265           47898
15  19/08/2020     1276358         36282             36291           50231
16  20/08/2020     1312992         36634             37010           52199
17  21/08/2020     1349071         36079             35825           54182
18  22/08/2020     1386775         37704             37027           56354
19  23/08/2020      142258         37583             36353           58262
20  24/08/2020     1446380         23822             26186           59504
21  25/08/2020     1484907         38527             34344           61879
22  26/08/2020     1525792         40885             40352           64355
23  27/08/2020     1525792             0             37873           66761
24  28/08/2020     1608013         82221             41860           69304
25  29/08/2020     1643633         35620             34988           71701

    New_Positive
0           1083
1           1195
2           1298
3           1251
4           1420
5           1211
6           1184
7           1417
8           1212
9           1564
10          1569
11          1608
12          1530
13          1725
14          1758
15          2333
16          1968
17          1983
18          2172
19          1908
20          1242
21          2375
22          2476
23          2406
24          2543
25          2397

Do you want to overwrite csv file : (y/n) y
Successully saved data

## Trying to train the data

In [76]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [59]:
features = test_report[['Total_Sent', 'Sent_On_Date', 'Proceed_In_24_Hr', 'Total_Positive']]
label = test_report[['New_Positive']]

In [60]:
features

    Total_Sent  Sent_On_Date  Proceed_In_24_Hr  Total_Positive
0       858960         24745             20087           27956
1       884056         25096             25096           29151
2       908355         24299             25205           30449
3       936651         28296             27608           31700
4       963632         26981             27714           33120
5       984208         20576             22745           34331
6      1000988         16780             20583           35515
7      1027433         26445             21625           36932
8      1056360         28927             28644           38144
9      1087722         31362             31270           39708
10     1120935         33213             31738           41277
11     1154365         33430             32108           42885
12     1182727         28362             30123           44415
13     1205759         23032             26150           46140
14     1240076         34317             29265           47898
15     1276358         36282             36291           50231
16     1312992         36634             37010           52199
17     1349071         36079             35825           54182
18     1386775         37704             37027           56354
19      142258         37583             36353           58262
20     1446380         23822             26186           59504
21     1484907         38527             34344           61879
22     1525792         40885             40352           64355
23     1525792             0             37873           66761
24     1608013         82221             41860           69304
25     1643633         35620             34988           71701

In [61]:
label

    New_Positive
0           1083
1           1195
2           1298
3           1251
4           1420
5           1211
6           1184
7           1417
8           1212
9           1564
10          1569
11          1608
12          1530
13          1725
14          1758
15          2333
16          1968
17          1983
18          2172
19          1908
20          1242
21          2375
22          2476
23          2406
24          2543
25          2397

In [62]:
# Create a correlation matrix
corr_metrics = features.corr()
corr_metrics.style.background_gradient()

In [63]:
# features = test_report[['Sent_On_Date', 'Proceed_In_24_Hr']]
# label = test_report[['New_Positive']]

In [64]:
type(features)

pandas.core.frame.DataFrame

In [65]:
x_train,x_test,y_train,y_test = train_test_split(features,label,test_size = 0.3,random_state=42)

In [66]:
x_train

    Total_Sent  Sent_On_Date  Proceed_In_24_Hr  Total_Positive
23     1525792             0             37873           66761
5       984208         20576             22745           34331
2       908355         24299             25205           30449
12     1182727         28362             30123           44415
15     1276358         36282             36291           50231
3       936651         28296             27608           31700
4       963632         26981             27714           33120
21     1484907         38527             34344           61879
17     1349071         36079             35825           54182
22     1525792         40885             40352           64355
18     1386775         37704             37027           56354
25     1643633         35620             34988           71701
20     1446380         23822             26186           59504
7      1027433         26445             21625           36932
10     1120935         33213             31738           41277
14     1240076         34317             29265           47898
19      142258         37583             36353           58262
6      1000988         16780             20583           35515

In [67]:
model = LinearRegression()

In [68]:
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [69]:
predicted = model.predict(x_test)

In [70]:
predicted

array([[1542.1496026 ],
       [2165.82282235],
       [ 957.53414953],
       [2685.49034876],
       [1791.4721343 ],
       [1703.81022353],
       [1501.09936989],
       [1238.10497572]])

In [71]:
y_test

    New_Positive
8           1212
16          1968
0           1083
24          2543
11          1608
9           1564
13          1725
1           1195

In [72]:
model.score(x_test,y_test)

0.8216276291343974

In [73]:
model.score(x_train,y_train)

0.8735056371228582

In [84]:
error = metrics.mean_squared_error(y_test,predicted)
print('root mean squared error : ',np.sqrt(error))
r2_Score = metrics.r2_score(y_test,predicted)
print("r2 score : ",r2_Score)

root mean squared error :  190.1894654111445
r2 score :  0.8216276291343974

In [85]:
test = [1643633,35620,34988,71701]

In [86]:
test_predicted = model.predict(np.array(test).reshape(1,-1))

In [94]:
actual = 2397
print('new test positives on {0}'.format(np.array(test_report['Date'].tail(1))))
print('actual :    ',actual,'\npredicted : ',int(test_predicted))

new test positives on ['29/08/2020']
actual :     2397
predicted :  2289

## Using MLPRegressor

In [95]:
from sklearn.neural_network import MLPRegressor

In [102]:
model_mlp = MLPRegressor(solver='sgd')

In [103]:
model_mlp.fit(x_train,y_train)

C:\Users\Shoukkiya_Ashraf\miniconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:1342: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MLPRegressor(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
             beta_2=0.999, early_stopping=False, epsilon=1e-08,
             hidden_layer_sizes=(100,), learning_rate='constant',
             learning_rate_init=0.001, max_fun=15000, max_iter=200,
             momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
             power_t=0.5, random_state=None, shuffle=True, solver='sgd',
             tol=0.0001, validation_fraction=0.1, verbose=False,
             warm_start=False)

In [104]:
predict_mlp = model_mlp.predict(x_test)

In [105]:
error = metrics.mean_squared_error(y_test,predict_mlp)
print('root mean squared error : ',np.sqrt(error))
r2_Score = metrics.r2_score(y_test,predict_mlp)
print("r2 score : ",r2_Score)

root mean squared error :  6.851389960902336e+20
r2 score :  -2.3147923765187873e+36

In [106]:
test_predicted = model_mlp.predict(np.array(test).reshape(1,-1))

In [107]:
test_predicted

array([6.85138996e+20])

## Using  DecisionTreeRegressor

In [108]:
from sklearn.tree import DecisionTreeRegressor

In [109]:
model_tree = DecisionTreeRegressor()

In [110]:
model_tree.fit(x_train,y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [111]:
predict_tree = model_tree.predict(x_test)

In [112]:
error = metrics.mean_squared_error(y_test,predict_tree)
print('root mean squared error : ',np.sqrt(error))
r2_Score = metrics.r2_score(y_test,predict_tree)
print("r2 score : ",r2_Score)

root mean squared error :  307.89730430778377
r2 score :  0.5325163323656835

In [113]:
model_tree.score(x_test,y_test)

0.5325163323656835

# KNeighborsRegressor

In [114]:
from sklearn.neighbors import KNeighborsRegressor

In [115]:
model_knn = KNeighborsRegressor()

In [116]:
model_knn.fit(x_train,y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                    weights='uniform')

In [117]:
predict_knn = model.predict(x_test)

In [118]:
error = metrics.mean_squared_error(y_test,predict_knn)
print('root mean squared error : ',np.sqrt(error))
r2_Score = metrics.r2_score(y_test,predict_knn)
print("r2 score : ",r2_Score)

root mean squared error :  190.1894654111445
r2 score :  0.8216276291343974

In [122]:
model_knn.score(x_test,y_test)

0.8431394140042426

In [123]:
test_predicted = model_knn.predict(np.array(test).reshape(1,-1))

actual = 2397
print('new test positives on {0}'.format(np.array(test_report['Date'].tail(1))))
print('actual :    ',actual,'\npredicted : ',int(test_predicted))

new test positives on ['29/08/2020']
actual :     2397
predicted :  2179

In [124]:
print('prediction by Linearregression')
test_predicted = model.predict(np.array(test).reshape(1,-1))

actual = 2397
print('new test positives on {0}'.format(np.array(test_report['Date'].tail(1))))
print('actual :    ',actual,'\npredicted : ',int(test_predicted))

print('prediction by KNNregressor')
test_predicted = model_knn.predict(np.array(test).reshape(1,-1))

actual = 2397
print('new test positives on {0}'.format(np.array(test_report['Date'].tail(1))))
print('actual :    ',actual,'\npredicted : ',int(test_predicted))

prediction by Linearregression
new test positives on ['29/08/2020']
actual :     2397
predicted :  2289
prediction by KNNregressor
new test positives on ['29/08/2020']
actual :     2397
predicted :  2179